beautifulsoup4==4.9.1
bokeh==2.2.3
farm-haystack==0.8.0
gensim==3.8.0
ipywidgets
jupyterlab==2.2.6
jupyterthemes
matplotlib
newsapi-python==0.2.6
nltk
numpy
pandas
scikit-learn
seaborn
sentence-transformers==1.1.1
top2vec
# -e git+https://github.com/DavidSilva98/SOMPY.git@2e898b52fafd7fd2d439cb8b94bd252f7265088d#egg=SOMPY
# -e git+https://github.com/DavidSilva98/mapintel_project.git@d4e67539609b9e55cb85af75cb9bb637e880f5a8#egg=src